{% block login %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="card card-signin flex-row my-5" v-show="signInBoxVisible">
        <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin" method="post" action="{{ path('login') }}">
                <div class="form-label-group">
                    <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email address"
                           required>
                    <label for="inputEmail">Email address</label>
                </div>

                <hr>

                <div class="form-label-group">
                    <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password"
                           required>
                    <label for="inputPassword">Password</label>
                </div>
                <div class="form-label-group">
                    <input type="checkbox" id="remember_me" name="_remember_me" class="form-control" >
                    <label for="remember_me">Remember Me</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign In</button>
                <a class="d-block text-center mt-2 small" v-on:click.prevent="showRegister()"
                   href="#">Register</a>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <hr class="my-4">
            </form>
        </div>
    </div>

{% endblock %}
