{% block register %}
    <div class="card card-signin flex-row my-5" v-if="!signInBoxVisible">
        <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <form class="form-signin" method="post" action="{{ path('login') }}" >

                <div class="form-label-group">
                    <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email address"
                           required>
                    <label for="inputEmail">Email address</label>
                </div>

                <hr>

                <div class="form-label-group">
                    <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password"
                           required>
                    <label for="inputPassword">Password</label>
                </div>

                <div class="form-label-group">
                    <input type="password" id="inputConfirmPassword" name="inputPasswordConfirm" class="form-control" placeholder="Password"
                           required>
                    <label for="inputConfirmPassword">Confirm password</label>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="register" name="register">Register</button>
                <a class="d-block text-center mt-2 small" v-on:click.prevent="showSignIn()" href="#">Sign In</a>
                <hr class="my-4">
            </form>
        </div>
    </div>
{% endblock %}
