<link rel="stylesheet" href="{{ asset('styles/startpage.css') }}">
<div class="container" id="startpage">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">

            {% block register %}{% include 'athenticate/register.html.twig' %}{% endblock %}
            {% block login %}{% include 'athenticate/login.html.twig' %}{% endblock %}
        </div>
    </div>
</div>
