{% extends 'base.html.twig' %}

{% block content %}
    {{ form_start(addResumeForm) }}
    {{ form_widget(addResumeForm) }}
    <button type="submit" class="btn">SAVE</button>
    {{ form_end(addResumeForm) }}
{% endblock %}
