{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/resumepage.css') }}">
{% endblock %}

{% block content %}
    <div id="resume-list">
    <br/>
        <form>
            <div class="input-group mb-3">
                <input type="text"
                       name="q"
                       class="form-control"
                       placeholder="Search..."
                       value="{{ app.request.query.get('q') }}"
                >
                <div class="input-group-append">
                    <button type="submit"
                            class="btn btn-outline-secondary">
                        <span class="fa fa-search"></span>
                    </button>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Tags</th>
                    <th>Source</th>
                    <th>Reviewed</th>
                    <th>EDIT</th>
                </tr>
                </thead>
                {% for resume in resumes %}
                <tbody>
                <tr>
                    <td scope="row">{{ resume.name }} {{ resume.lastName }}</td>
                    <td>{{ resume.email }}</td>
                    <td class="relative" v-on:click="addToResume(event,'{{ path('route_resumes_add-to-resume', {resumeId: resume.id,field : 'tag'}) }}','tag')">{{ resume.tag }}</td>
                    <td class="relative" v-on:click="addToResume(event,'{{ path('route_resumes_add-to-resume', {resumeId: resume.id,field : 'source'}) }}','source')">{{ resume.source }}</td>
                    <td>{{ resume.reviewed ? 'YES':'NO' }}</td>
                    <td><a href="{{ path('route_resumes_edit', {resumeId: resume.id}) }}">EDIT</a></td>
                </tr>
                <tr v-on:click="showDetails(event)">
                    <td colspan="6" class="text-center extend-arrow"><i class="fa fa-angle-down"></i></td>
                </tr><tr style="display: none" class="text-center">
                    <td colspan="6" class="text-center no-boarder-top">
                        <div>
                            <span><strong>Imported At</strong></span>
                            <p>{{ resume.importedAt | date('Y-m-d H:i') }}</p>
                            <span><strong>Resume PFD File</strong></span>
                            <p>{% if resume.file %} <a
                            href="{{ path('route_resumes_download', {filename: resume.file}) }}"
                            target="_blank">
                            {{ resume.file }}
                            </a>
                            {% endif %}</p>
                            <span> <strong>Employment History</strong></span>
                            <p>{{ resume.employmentHistory }}</p>
                            <span><strong>Education History</strong></span>
                            <p>{{ resume.educationHistory }}</p>
                            <span><strong>Links</strong></span>
                            <p class="relative minWL" v-on:click="addToResume(event,'{{ path('route_resumes_add-to-resume', {resumeId: resume.id,field : 'links'}) }}','links')">{{ resume.links }}</p>
                        </div>
                    </td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">
                            No Resume found
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{{ asset('js/resume.list.vue.js') }}"></script>
{% endblock %}


