{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block leftMenu %}{% endblock %}
{% block content %}
    {% if result %}
        {{ result }}
    {% endif %}
    <div class="example-wrapper">
        <form method="post">
            <table>
                <tr>
                    <td>
                        <label for="email">Email</label>
                    </td>
                    <td>
                        <input type="email" id="email" value="{{ user.email }}" name="email" required>

                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password</label>
                    </td>
                    <td>
                        <input type="password" id="oldPassword" value="" name="oldPassword" placeholder="OlD Password">
                    </td>
                    <td>
                        <input type="password" id="newPassword" value="" name="newPassword" placeholder="New Password">
                    </td>
                    <td>
                        <input type="password" id="newPasswordConfirm" value="" name="newPasswordConfirm"
                               placeholder="New Password Repeat">
                    </td>
                </tr>
            </table>

            <button type="submit"> Save</button>


        </form>
    </div>
{% endblock %}
