.extend-arrow{
    padding: 0 !important;
    border-top: none !important;
}

.no-boarder-top{
    border-top: none !important;
}

.fitParent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.relative{
    position: relative;
}

.minWL{
    min-width: 2rem;
    min-height: 2rem;
}