<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap 4-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <!-- Font Awesome-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
              integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ"
              crossorigin="anonymous">
    {% endblock %}
    {% block JSLibraries %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    {% endblock %}
</head>
<body>
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="well col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% block header %}
                    {% include asset('header.html.twig') %}
                {% endblock %}
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row" id="vueBody">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            {% block leftMenu %}
                {% include asset('leftMenu.html.twig') %}
            {% endblock %}
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            {% block content %}{% endblock %}
        </div>
    </div>

</div>
<footer>
    <div class="container-fluid well">
        {% block footer %}
            {% include asset('footer.html.twig') %}
        {% endblock %}
    </div>
</footer>
{% block javascripts %}{% endblock %}
</body>
</html>

