<div>
    <div class="d-flex justify-content-center">
        {% for name,link in links.footerLinks %}
            <a href="{{ link }}" class="card-link">{{ name }}</a>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
        <span>Copyright Reza 2019 </span><i class="fa fa-copyright"></i>
    </div>
</div>