<nav class="navbar navbar-expand-lg navbar-dark black">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}" style="color: black"><strong>LOGO</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                {% block navLinks %}
                    {% for name,link in links.headerLinks %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path(link)}}" style="color: black">{{name}}
                            <span class="sr-only"></span></a>
                    </li>
                    {% endfor %}
                {% endblock %}

            </ul>
            {% if app.user %}
                <div class="checkbox mb-3">{{ app.user.username }} <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>