<div class="list-group" id="leftMenu">
    {% for name,link in links.leftMenuLinks %}
        <a href="{{ path(link)}}" class="list-group-item list-group-item-action" v-on:click.prevent="getContent($event.target.href,$event)">{{ name }}</a>
    {% endfor %}
</div>