<link rel="stylesheet" href="{{ asset('styles/startpage.css') }}">
<div class="container" id="startpage">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
        </div>
    </div>
</div>
