{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block leftMenu %}
    {{ include('api/leftMenu.html.twig') }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% if false == is_granted(['ROLE_API_USER','ROLE_ADMIN']) %}
                    <h2>{{ content }}</h2>
                    <p> You are not allowed to use API ! Please consult your admin for appropriate rights</p>
                {% else %}
                <h2>{{ content }}</h2>
                <p> See the result of the API calls here below:</p>
                <div>
                    <p><% returnedData %></p>
                </div>
                {% endif %}
            </div>

        </div>
    </div>
    <div id="homeVue"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/api.vue.js') }}"></script>
{% endblock %}
