<div class="list-group" id="leftMenu">
    {% if true == is_granted(['ROLE_API_USER','ROLE_ADMIN']) %}
        {% for name,link in apiLinks %}
            <a href="{{ path(name) }}" class="list-group-item list-group-item-action"
               v-on:click.prevent="getContent($event.target.href,$event)">{{ link.Path }}</a>
        {% endfor %}
    {% endif %}
</div>